@import "tailwindcss";

@layer base {
  :root {
    --background: #0b1326;
    --foreground: #dae2fd;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

/* Glassmorphism Utilities */
.glass-card {
  @apply bg-[#31394d]/40 backdrop-blur-xl border border-[#afc6ff]/10;
}

/* Hide scrollbar for Lenis */
html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
